body{
    font-family: Arial, sans-serif;
    background-color: #fdf6f0; /* Light beige background */
}
h1, h2, h3, h4{
    text-align: center;
}
.intro{
    background-color: rgb(243, 243, 230);
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 590px;
    font-family: Arial, sans-serif;
}
.item1{
    background-color: rgb(247, 234, 219);
    padding: 1rem; 
    margin: 0px auto;
    width: 100%;
    max-width: 590px;
    
}
.logo{
    width: 10%;
    height: auto;
}
footer{
    background-color: rgb(247, 234, 219);
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
footer a{
    text-decoration: none;
}
.item1 nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav{                                                    /*https://www.geeksforgeeks.org/css/how-to-align-one-item-to-the-right-using-css-flexbox/*/
    justify-content: space-between;
}
.item1 nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
    margin: 0;
    font-weight: bold;
}
.item1 nav ul li a{
    text-decoration: none;
    padding: 1rem;
    color:black;
}
.current{
    background-color: #cf8f6f;
    color: black;
    font-weight: bold;
}
.item1 nav ul li a:hover{
    background-color: #e8cfc1;
    color:black
}
a[target="_blank"]{
    color: black;
    font-weight: bold;
}
footer a{
    color: black;
    text-decoration: none;
}

#copyright{
    font-weight: bold;
}

label.required::after{                                                          /*https://stackoverflow.com/questions/11197671/use-css-to-automatically-add-required-field-asterisk-to-form-inputs*/
    content: "*";
    color: red;
}

table{
    margin: 1rem auto;
    border-collapse: collapse;                                                                  /*https://stackoverflow.com/questions/25062004/why-does-my-html-table-have-two-borders */
    border: 2px solid;
    
}

tr, td{                                                                                         /*https://wiki.whatwg.org/wiki/Presentational_elements_and_attributes*/
    border: 1px;
    border-style: solid;
}


tr:nth-child(odd){                                                                              /*https://www.geeksforgeeks.org/how-to-create-a-zebra-striped-table-with-css/*/
    background-color: lightgray;
}

.card1, .card2, .card3, .card4{
    margin-bottom: 2rem;
}

.form1{
    padding: 1rem;
    margin: 2rem auto;
    max-width: 350px;
}
.contactForm{
    background-color: white;
    padding: 1rem;
    width: 100%;
}
label{
    display:block;
    margin: 1rem auto
}

input, textarea{
    margin-left: 15px;
    margin-top: 5px;
}

/* css rules for medium sized screens*/
@media only screen and (min-width: 591px) and (max-width: 789px){                
    .item1{
    max-width: 790px;
    margin-bottom: 0;
    }
    .intro{
        margin-bottom: 0;
    }

}

/* css rules for large sized screens*/
@media only screen and (min-width: 790px){
    .item1, .intro, footer{
        max-width: 790px;
        width: 100%;
        margin: 0 auto;
        }
    .item1, .intro{
        margin-bottom: 0;
    }

    .form1{
            padding: 1rem;
            margin: 2rem auto;
            max-width: 650px;
        }
    .contactForm{
            background-color: white;
            padding: 1rem;
            width: 100%;
        }

}